#grid {
    width: 400px;
    height: 300px;
    display: flex;
    flex-wrap: wrap; /* pour sup espace*/
}

body {
    background-color: rgb(40, 148, 72);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#h, #result{
    color: rgb(109, 34, 179);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    margin-top: 15%;
}